<div class="section">
  <div class="container">
    <div content="content" id="workflow-container">
      <iframe id="iframe-visualize"
              srcdoc="<%= Graphviz::output(@workflow.to_graph, format: "svg") %>"
              width="100%">
      </iframe>
      <script>
        document.addEventListener("turbolinks:load", function() {
          const iframe = document.getElementById("iframe-visualize");
          if (iframe !== null) {
            iframe.contentWindow.addEventListener("DOMContentLoaded", function () {
              iframe.setAttribute("style", "overflow: hidden !important; height: " + iframe.contentDocument.body.scrollHeight + "px !important;");
            });
          }
        });
      </script>
    </div>
  </div>
</div>
